extends ../layout/index

block content
     div.py-10 
          h1.text-4xl.my-10.font-extrabold.text-center GT 
               span.font-normal Shop
          h2.text-center.text-2xl.font-extrabold= page

          .mt-8.mx-auto.max-w-md
               .bg-white.py-8.px-4.shadow
                    form.space-y-5
                         div
                              label.block.text-sm.uppercase.text-gray-400.mb-5.font-bold(for="email") Email
                              input#email.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Your Email" type="text" name="email")     
                         
                         div.flex.items-center.justify-between
                              a(href="/auth/signup") Get started and Sign Up
                              a(href="/auth/login") Log In

                         input( class="w-full bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-3 cursor-pointer rounded-md" type="submit" value="Send mail")     